.articles-list {
  height: 100%;
  overflow: auto; }

.articles-list .load-more-button {
  width: 100%;
  text-align: center; }

.articles-list .article-list-item {
  overflow: hidden;
  max-height: 100px;
  background: #fff;
  transition: background-color .1s linear; }

.articles-list .article-list-item:hover {
  cursor: pointer; }

.articles-list .article-list-item.isSelected {
  background: rgba(0, 0, 0, 0.2); }

.articles-list .article-list-item .link-wrapper {
  text-decoration: none;
  display: flex; }

.articles-list .article-list-item .link-wrapper:hover {
  text-decoration: none; }

.articles-list .article-list-item .link-wrapper .left-image .media-image {
  width: 80px; }

.articles-list .article-list-item .link-wrapper .list-item-body {
  padding: 0 .6rem; }

.articles-list .article-list-item .link-wrapper .list-item-body .article-header {
  font-size: 1.2em;
  color: black;
  margin: 0; }

.articles-list .article-list-item .link-wrapper .list-item-body .content-preview {
  color: black;
  overflow: hidden; }

.articles-list .article-list-item .link-wrapper .list-item-body .content-preview:hover {
  text-decoration: none; }

.articles-list .fade-enter {
  opacity: 0; }

.articles-list .fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out; }

.articles-list .fade-leave {
  opacity: 1; }

.articles-list .fade-leave.fade-leave-active {
  opacity: 0;
  transition: all 300ms ease-in-out; }

.articles-list .fade-appear {
  opacity: 0; }

.articles-list .fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 400ms ease-in-out; }
